<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      {assigns[:page_title] || "Pirate Scrabble"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <!-- Standard favicon -->
    <link rel="icon" type="image/x-icon" href={~p"/images/favicon.ico"} />  
    <!-- Modern browsers (PNG format) -->
    <link rel="icon" type="image/png" sizes="32x32" href={~p"/images/favicon-32x32.png"}>
    <link rel="icon" type="image/png" sizes="16x16" href={~p"/images/favicon-16x16.png"}>
    
<!-- Apple Touch Icon (for iOS devices) -->
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body id="body" class="bg-white dark:bg-black">
    {@inner_content}
  </body>
</html>
